
@font-face{font-family: MyLogoFont;src: url("fonts/logofont.ttf");}

body{font-family: MyLogoFont;}

#mapid { height: 900px;}

.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:15;margin-top:6px}

.w3-bar-item
{
	font-size: 17px;
	font-weight: bolder;
}


h1{
font-size:16px;
}


b
{
  color: red;
  font-family: MyLogoFont;
}



.bgimg-1 
{
    background-image: url('img/logo_1.jpg');
    min-height: 100%;
}

@media only screen and (max-device-width: 800px) 
{
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


/*Дизайн кнопки*/
/* Кнопка, используемая для открытия контактной формы-фиксируется в нижней части страницы */
.open-button {
  background-color: #555;
  font-weight: 200;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}

/* Добавление стилей в контейнер форм */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для кнопки отправить/кнопка */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Добавьте красный цвет фона к кнопке отмена */
.form-container .cancel {
  background-color: grey;
}

/* Добавьте некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
